<h2 class = "ui-widget-header ui-corner-all">New forum</h2>

<fieldset class="ui-widget ui-widget-content ui-corner-all">
<legend class="ui-corner-all">Forum info:</legend>
  <% form_for(@forum) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name, "Forum name : " %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :course_id, "For course : " %>
      <%#= f.text_field :course_id %>
      <% if @courses.length == 1 %>
          <%= @courses[0].number %> <%= @courses[0].name %>
          <%= f.hidden_field :course_id, :value => @courses[0].org_id %>
      <% else %>
          <%= f.select :course_id, @courses.collect { |c| [ c.number+" "+c.name, c.org_id ] }, {:prompt => 'Select Course'} %>
      <% end %>
    </p>
    <p>
      <%= f.submit 'Create', :class => "submit ui-button ui-widget ui-state-default ui-corner-all" %>
    </p>
<% end %>
</fieldset>
<br/>

<% if @courses.length == 1 %>
    <%#= link_to "Back", { :controller => "forums", :action => "index", :course_id => @courses[0].org_id}, :class => "ui-button ui-widget ui-state-default ui-corner-all" %>
    <%= link_to "Back", course_forums_path(@courses[0].org_id), :class => "ui-button ui-widget ui-state-default ui-corner-all" %>
<% else %>
    <%= link_to 'Back', forums_path , :class => "submit ui-button ui-widget ui-state-default ui-corner-all"%>
<% end %>
