<h2 class = "ui-widget-header ui-corner-all">Editing comment</h2>
<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend>Comment infomation:</legend>
  <% form_for(@comment) do |f| %>
      <%= f.error_messages %>

        <%#= f.label :name, "Topic :" %>
        <%#= f.text_field :topic_id %>
        <%= f.hidden_field :topic_id, :value => @comment.topic_id %>
        <%#= f.label :name, "Comment number :" %>
        <%#= f.text_field :comment_number %>
        <%= f.hidden_field :comment_number, :value => @comment.comment_number %>
      <p>
        <%= f.label :content, "Content :" %>
        <%= f.text_area :content %>
      </p>
      <p>
        <%= f.label :owner_id, "Comment by :" %>
        <%#= f.text_field :owner_id %>
        <%= User.find_by_id(@comment.owner_id).login %>
      </p>
      <p>
        <%= f.submit 'Update', :class => "submit ui-button ui-state-default ui-corner-all" %>
      </p>
  <% end %>
</fieldset>
<p>
  <%= link_to 'Back', topic_path(@comment.topic_id), :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button" %>
</p>
