<h2 class="ui-widget-header ui-corner-all">New surveychoice</h2>
<fieldset class="ui-widget ui-widget-content ui-corner-all">
<% form_for(@surveychoice) do |f| %>
  <%= f.error_messages %>

 <p>
    <%= f.label :name, "Survey :" %>
    <%= f.text_field :survey_id %><br />
  </p>
  <p>
    <%= f.label :name, "Choice number :" %>
    <%= f.text_field :choice_number %><br />
  </p>
  <p>
    <%= f.label :name, "Content :" %>
    <%= f.text_field :content %><br />
  </p>
  <p>
    <%= f.submit 'Create',:class => "ui-button ui-state-default ui-corner-all" %>
  </p>
<% end %>
</fieldset>
<br>
<%= link_to 'Back', surveychoices_path,:class => "ui-button ui-state-default ui-corner-all" %>
<%= link_to "Home", { :controller => "home", :action => "index" }, :class => "ui-button ui-state-default ui-corner-all"  %>
