<h2 class="ui-widget-header ui-corner-all"><%=h @course.number %> <%=h @course.name %></h2>


<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-corner-all">All students:</legend>

  <table>
    <tr><th>Id</th><th>Name</th></tr>
    <% for student in @students %>
        <tr>
          <td><%= student.id %></td>
          <td><%= student.fname %> <%= student.lname %></td>
        </tr>
    <% end %>
  </table>
</fieldset>
<p>
  <%= link_to "All students' courses", { :controller => "home", :action => "all_distinct_courses", :course_id => @course_id }, :class => "ui-button ui-state-default ui-corner-all" %>
</p>

<p>
  <%= link_to 'Home', { :controller => "home" }, :class => "ui-button ui-state-default ui-corner-all" %>
</p>
