<h2 class="ui-widget-header ui-corner-all">Listing surveys</h2>
<fieldset class="ui-widget ui-widget-content ui-corner-all">
<table>
  <tr>
    <th>Topic</th>
    <th>Close datetime</th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%=h survey.topic_id %></td>
    <td><%=h survey.close_datetime %></td>
    <td><%= link_to 'Show', survey, :class => "ui-button ui-state-default ui-corner-all" %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey),:class => "ui-button ui-state-default ui-corner-all" %></td>
    <td><%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete,:class => "ui-button ui-state-default ui-corner-all" %></td>
  </tr>
<% end %>
</table>
</fieldset>
<br >

<%= link_to 'New survey', new_survey_path ,:class => "ui-button ui-state-default ui-corner-all"%>
<%= link_to "Home", { :controller => "home", :action => "index" }, :class => "ui-button ui-state-default ui-corner-all"  %>
