<h2 class="ui-widget-header ui-corner-all">Listing rooms</h2>
<fieldset class="ui-widget ui-widget-content ui-corner-all">
<table>
  <tr>
    <th>Room number</th>
    <th>Capacity</th>
    <th>Building</th>
    <th>Type</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%=h room.room_number %></td>
    <td><%=h room.capacity %></td>
    <td><%=h room.building %></td>
    <td><%=h room.type %></td>
    <td><%= link_to 'Show', room ,:class => "ui-button ui-state-default ui-corner-all"%></td>
    <td><%= link_to 'Edit', edit_room_path(room),:class => "ui-button ui-state-default ui-corner-all" %></td>
    <td><%= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete,:class => "ui-button ui-state-default ui-corner-all" %></td>
  </tr>
<% end %>
</table>
</fieldset>
<br >

<%= link_to 'New room', new_room_path ,:class => "ui-button ui-state-default ui-corner-all"%>
