<% timeWidth = 40 %>
<% timeHeight = 60 %>
<% dayWidth = 70 %>
<% dayHeight = 40 %>
<% topSpace = 30 %>

<style>
    #timetable
    {
        width: 1030px;
        height: 370px;
        padding: 0.5em;
        font-size: 10px
    }
    #timetable h3
    {
        text-align: center;
        margin: 0;
        font-size: 10px
    }
    #draggable {
        width: 150px;
        height: 150px;
        padding: 0.5em;
        font-size: 10px
    }
    .time
    {
        width: <%= timeWidth %>px;
        height: <%= timeHeight %>px;
        padding: 0em;
        font-size: 10px;
        text-align: center
    }
    .day
    {
        width: <%= dayWidth %>px;
        height: <%= dayHeight %>px;
        padding: 0em;
        font-size: 10px;
        text-align: center
    }
    .timeslot
    {
        width: <%= timeWidth %>px;
        height: <%= timeHeight %>px;
        padding: 0em;
        font-size: 10px;
        text-align: center;
    }
</style>
<script>
    //$(function() {
    //    $( "#timetable1" ).resizable();
    //$( "#resizable" ).draggable();
    //});

    //$(function() {
    //    $( "#draggable" ).draggable();
    //    $( "#draggable" ).resizable();
    //});

    //$(function() {
    //    for(i=0;i<20;i++) {
    //        $( "#test"+i ).draggable();
    //$( "#test"+i ).resizable();
    //    }
    //});


    $(function() {
        //alert("timeslot 1 : "+$( "#timeslot1" ).text());
        for (i=0;i< <%= @timeslots.length %>+0 ;i++) {
            var text = $( "#timeslot"+i ).text();
            var token=text.split("#")
            //alert(token);
            var day = token[0]
            if (day == 0) {
                day=7
            }


            var token2=token[1].split("-");
            var first = token2[0].split(":");
            var second = token2[1].split(":");

            var start = first[0] - 8 + first[1]/30;
            var length = (second[0] - first[0]) * 2 + (second[1] - first[1])/30;

            start = <%= dayWidth %> + ((first[0] - 8) * 2 + first[1]/30) * (<%= timeWidth %> + 0);
            //alert(start);
            //alert("token : "+token);
            //alert("first : "+first);
            //alert("second : "+second);
            toppos = (<%= topSpace+timeHeight %> + 0) + (day-1) * <%= dayHeight %>+0;

            //alert("timeslot 1 width : "+$( "#timeslot1" ).width());
            $( "#timeslot"+i ).width(length * (<%= timeWidth %> + 0));
            $( "#timeslot"+i ).height(<%= dayHeight %>);
            $( "#timeslot"+i ).css( { top: toppos, left: start, position: "absolute" });
            //$( "#timeslot1" ).draggable();
            //$( "#timeslot1" ).top(100);
            $( "#timeslot"+i ).html("<p>"+token[1]+"</p>");
        }


    });

</script>



<!--fieldset class="ui-widget ui-widget-content ui-state-hover ui-corner-all"-->
<h2 class="ui-widget-header ui-corner-all"><%=h @course.number %> <%=h @course.name %></h2>

<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-corner-all">Courses information:</legend>
  <p>
    <b>Instructor:</b>
    <%#=h @course.instructor_id %>
    <%= @instructor.fname %> <%= @instructor.lname %>
  </p>

  <p>
    <b>Semester:</b>
    <%=h @course.semester %>
    <%=h @course.year %>
  </p>
  <% wday=%w(Sunday Monday Tuesday Wednesday Thursday Friday Saturday) %>
  <p>
    <b>Time slot:</b><br/>
    <% for timeslot in @timeslots %>
        <%= wday[timeslot.day.to_i] %> <%= timeslot.starttime.strftime("%H:%M") %> <%= timeslot.endtime.strftime("%H:%M") %><br/>
    <% end %>
  </p>

</fieldset>
<br/>
<% if @user.type.to_s == "Instructor" %>
    <%= link_to 'Show all Students', { :controller => "home", :action => "all_students", :course_id => @course.org_id }, :class => "ui-button ui-state-default ui-corner-all" %>
    <%= link_to 'Show all Versions', { :controller => "home", :action => "show_all_versions", :course_id => @course.org_id }, :class => "ui-button ui-state-default ui-corner-all" %>
<% end %>
<%#= link_to 'Forum', {:controller => "forums", :action => "index" , :course_id => @course.org_id}, :class => "ui-button ui-widget ui-state-default ui-corner-all" %>
<%= link_to 'Forum', course_forums_path(@course.org_id), :class => "ui-button ui-widget ui-state-default ui-corner-all" %>
<br/><br/>
<div>
  <div id="timetable" class="ui-widget-content" style="position: relative">
    <h3 class="ui-widget-header">time table</h3>

    <%#= time header  %>
    <% t=Time.parse("8:00") %>
    <% 24.times { |i| %>
        <div id="test<%= i %>" class="ui-widget-content time" style="position: absolute; top: <%= topSpace %>px; left: <%= dayWidth+i*timeWidth %>px;">
          <p class="time"><%= t.strftime("%H:%M") %><br/>
            <% t=t+(30*60) %>
            <%= t.strftime("%H:%M") %></p>
        </div>
    <% } %>


    <%#= day %>
    <% weekday = %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday] %>
    <% 7.times { |i| %>
        <div id="test<%= i %>" class="ui-widget-content day" style="position: absolute; top: <%= topSpace+timeHeight+i*dayHeight %>px; left: 0px;">
          <p><%= weekday[i] %></p>
        </div>
    <% } %>


    <% i=0 %>
    <% for timeslot in @timeslots %>
        <div id="timeslot<%= i %>" class="ui-widget-content timeslot"><%= timeslot.day %> # <%= timeslot.starttime.strftime("%H:%M") %> - <%= timeslot.endtime.strftime("%H:%M") %></div>
        <% i+=1 %>
    <% end %>

    <!--
    <div id="timeslot0" class="ui-widget-content timeslot">08:00 - 08:30</div>
    <div id="timeslot1" class="ui-widget-content timeslot">09:00 - 10:00</div>
    <div id="timeslot2" class="ui-widget-content timeslot">10:30 - 11:00</div>
    <div id="timeslot3" class="ui-widget-content timeslot">11:30 - 13:30</div>
    <div id="timeslot4" class="ui-widget-content timeslot">14:00 - 15:30</div>
    <div id="timeslot5" class="ui-widget-content timeslot">16:00 - 17:30</div>
    <div id="timeslot6" class="ui-widget-content timeslot">17:30 - 18:30</div>
    <div id="timeslot7" class="ui-widget-content timeslot">18:30 - 19:00</div>
    <div id="timeslot8" class="ui-widget-content timeslot">19:00 - 19:30</div>
    <div id="timeslot9" class="ui-widget-content timeslot">20:00 - 20:00</div>
    -->
  </div>
</div>

<br/>

<% if @user.type.to_s == "Instructor" %>
    <%#= link_to 'Edit', edit_course_path(@course), :class => "ui-button ui-state-default ui-corner-all" %>
    <%= link_to 'Edit', edit_course_path(@course), :class => "ui-button ui-widget ui-state-default ui-corner-all" %> |
    <%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete, :class => "ui-button ui-widget ui-state-default ui-corner-all" %> |

<% end %>
<%= link_to 'Back', { :controller => "home" }, :class => "ui-button ui-state-default ui-corner-all" %>
