<p>
  <b>Course:</b>
  <%=h @timeslot.course_id %>
</p>

<p>
  <b>Day:</b>
  <%=h @timeslot.day %>
</p>

<p>
  <b>Starttime:</b>
  <%=h @timeslot.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%=h @timeslot.endtime %>
</p>


<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>